body {
  margin: 0;
}

.app {
  position: relative;
  min-height: 100vh;
}

.main-body {
  background-color: #000;
  color: #fff;
  min-height: calc(100vh - 100px);
  padding-bottom: 100px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box;
}

.nav-item {
  flex: 1;
  border: 1px solid #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.nav-logo {
  width: 20px;
  height: 20px;
}

.stats-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-button:hover {
  background-color: #555;
}

@media (max-width: 1400px) {
  .main-body {
    min-height: calc(100vh - 80px);
    padding-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .main-body {
    min-height: calc(100vh - 60px);
    padding-bottom: 60px;
  }
}
